.container {
}

.violet {
  background-color: #6510c5;
  height: 57px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 87px;
}

.brandNameContainer {
  background-color: #f9db1b;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 100px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
}

.brandName {
  font-family: Segoe UI;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.2px;

  color: #000000;
}
